*{
    font-family:Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.card{
    background-color: white;
    color: black;
    width: 300px;
    text-align: center;
    border-radius: 20px;
    transition: .4s ease-in-out all;
    margin-top: 10px;
    padding-top: 15px;
    margin-left: 10px;
    cursor: pointer;
}
.card:hover .line{
    opacity: 0;
}
.line{
    width: 100px;
    border-radius: 5px;
    opacity: 1;
display: inline-block;
color:1px solid gray;
}
.card p{
    padding-bottom: 15px;
    color:   gray;

}
.card h1{
    padding-bottom:15px ;
    font-size: large;
}
.card h2{
font-size: 3rem;
font-weight: bold;
}
.card-a{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px, 1fr));
    padding-bottom:10px ;
    margin: auto;
    max-width: 1000px;
}
.card:hover{
background-color: black;
color: white;
}
.card:hover button{
    opacity: 1;
}
.card button{
    background-color: white;
    color: rgb(2, 0, 0);
    align-items: center;
    border: none;
    width: 110px;
    height: 30px;
    opacity: 0;
    margin-bottom: 20px;
    margin-top: 20px;
}
.card button:hover{
    background-color: rgb(252, 248, 248);
  color: black;
}
.dollar{
    display: flex;
    gap: 8px;
    padding-top: 15px;
    justify-content: center;
   align-items: center;
}
